<?xml version="1.0" encoding="UTF-8"?>
<!--
  Filename: testng.xml
-->
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Examples suite">

	<test name="selenium">
		<classes>
			<class name="test.example.selenium.TestClass" />
		</classes>
	</test>
	<test name="wslite">
		<classes>
			<class name="test.example.wslite.TestREST" />
			<class name="test.example.wslite.TestSOAP" />
		</classes>
	</test>
</suite>